<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>ControleGamex</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CadastrarCliente</display-name>
    <servlet-name>CadastrarCliente</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.CadastrarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarCliente</servlet-name>
    <url-pattern>/CadastrarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarCliente</display-name>
    <servlet-name>IniciarAlterarCliente</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.IniciarAlterarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarCliente</servlet-name>
    <url-pattern>/IniciarAlterarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarCliente</display-name>
    <servlet-name>AlterarCliente</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.AlterarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarCliente</servlet-name>
    <url-pattern>/AlterarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirCliente</display-name>
    <servlet-name>ExcluirCliente</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.ExcluirCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirCliente</servlet-name>
    <url-pattern>/ExcluirCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarFornecedor</display-name>
    <servlet-name>CadastrarFornecedor</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.CadastrarFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarFornecedor</servlet-name>
    <url-pattern>/CadastrarFornecedor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirFornecedor</display-name>
    <servlet-name>ExcluirFornecedor</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.ExcluirFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirFornecedor</servlet-name>
    <url-pattern>/ExcluirFornecedor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarFornecedor</display-name>
    <servlet-name>IniciarAlterarFornecedor</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.IniciarAlterarFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarFornecedor</servlet-name>
    <url-pattern>/IniciarAlterarFornecedor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarFornecedor</display-name>
    <servlet-name>AlterarFornecedor</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.AlterarFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarFornecedor</servlet-name>
    <url-pattern>/AlterarFornecedor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarCompra</display-name>
    <servlet-name>CadastrarCompra</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.CadastrarCompra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarCompra</servlet-name>
    <url-pattern>/CadastrarCompra</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarVenda</display-name>
    <servlet-name>CadastrarVenda</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.CadastrarVenda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarVenda</servlet-name>
    <url-pattern>/CadastrarVenda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarStatus</display-name>
    <servlet-name>CadastrarStatus</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.CadastrarStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarStatus</servlet-name>
    <url-pattern>/CadastrarStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarFeedback</display-name>
    <servlet-name>CadastrarFeedback</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.CadastrarFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarFeedback</servlet-name>
    <url-pattern>/CadastrarFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarFeedback</display-name>
    <servlet-name>AlterarFeedback</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.AlterarFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarFeedback</servlet-name>
    <url-pattern>/AlterarFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarStatus</display-name>
    <servlet-name>AlterarStatus</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.AlterarStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarStatus</servlet-name>
    <url-pattern>/AlterarStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirFeedback</display-name>
    <servlet-name>ExcluirFeedback</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.ExcluirFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirFeedback</servlet-name>
    <url-pattern>/ExcluirFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarFeedback</display-name>
    <servlet-name>IniciarAlterarFeedback</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.IniciarAlterarFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarFeedback</servlet-name>
    <url-pattern>/IniciarAlterarFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarStatus</display-name>
    <servlet-name>IniciarAlterarStatus</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.IniciarAlterarStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarStatus</servlet-name>
    <url-pattern>/IniciarAlterarStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUsuario</display-name>
    <servlet-name>LoginUsuario</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.LoginUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUsuario</servlet-name>
    <url-pattern>/LoginUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutUsuario</display-name>
    <servlet-name>LogoutUsuario</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.LogoutUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutUsuario</servlet-name>
    <url-pattern>/LogoutUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginCliente</display-name>
    <servlet-name>LoginCliente</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.LoginCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginCliente</servlet-name>
    <url-pattern>/LoginCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutCliente</display-name>
    <servlet-name>LogoutCliente</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.LogoutCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutCliente</servlet-name>
    <url-pattern>/LogoutCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarUsuario</display-name>
    <servlet-name>CadastrarUsuario</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.CadastrarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarUsuario</servlet-name>
    <url-pattern>/CadastrarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarUsuario</display-name>
    <servlet-name>IniciarAlterarUsuario</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.IniciarAlterarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarUsuario</servlet-name>
    <url-pattern>/IniciarAlterarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarUsuario</display-name>
    <servlet-name>AlterarUsuario</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.AlterarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarUsuario</servlet-name>
    <url-pattern>/AlterarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirUsuario</display-name>
    <servlet-name>ExcluirUsuario</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.ExcluirUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirUsuario</servlet-name>
    <url-pattern>/ExcluirUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocalizarCompra</display-name>
    <servlet-name>LocalizarCompra</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.LocalizarCompra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocalizarCompra</servlet-name>
    <url-pattern>/LocalizarCompra</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LocalizarVenda</display-name>
    <servlet-name>LocalizarVenda</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.LocalizarVenda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LocalizarVenda</servlet-name>
    <url-pattern>/LocalizarVenda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarJogo</display-name>
    <servlet-name>CadastrarJogo</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.CadastrarJogo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarJogo</servlet-name>
    <url-pattern>/CadastrarJogo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarJogo</display-name>
    <servlet-name>IniciarAlterarJogo</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.IniciarAlterarJogo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarJogo</servlet-name>
    <url-pattern>/IniciarAlterarJogo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarCompra</display-name>
    <servlet-name>IniciarCompra</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.IniciarCompra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarCompra</servlet-name>
    <url-pattern>/IniciarCompra</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirJogo</display-name>
    <servlet-name>ExcluirJogo</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.ExcluirJogo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirJogo</servlet-name>
    <url-pattern>/ExcluirJogo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarVenda</display-name>
    <servlet-name>IniciarVenda</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.IniciarVenda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarVenda</servlet-name>
    <url-pattern>/IniciarVenda</url-pattern>
  </servlet-mapping>
</web-app>