<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>ControleGamex</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CadastrarCliente</display-name>
    <servlet-name>CadastrarCliente</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.CadastrarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarCliente</servlet-name>
    <url-pattern>/CadastrarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarCliente</display-name>
    <servlet-name>IniciarAlterarCliente</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.IniciarAlterarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarCliente</servlet-name>
    <url-pattern>/IniciarAlterarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarCliente</display-name>
    <servlet-name>AlterarCliente</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.AlterarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarCliente</servlet-name>
    <url-pattern>/AlterarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirCliente</display-name>
    <servlet-name>ExcluirCliente</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.ExcluirCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirCliente</servlet-name>
    <url-pattern>/ExcluirCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarFornecedor</display-name>
    <servlet-name>CadastrarFornecedor</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.CadastrarFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarFornecedor</servlet-name>
    <url-pattern>/CadastrarFornecedor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirFornecedor</display-name>
    <servlet-name>ExcluirFornecedor</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.ExcluirFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirFornecedor</servlet-name>
    <url-pattern>/ExcluirFornecedor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarFornecedor</display-name>
    <servlet-name>IniciarAlterarFornecedor</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.IniciarAlterarFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarFornecedor</servlet-name>
    <url-pattern>/IniciarAlterarFornecedor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarFornecedor</display-name>
    <servlet-name>AlterarFornecedor</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.AlterarFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarFornecedor</servlet-name>
    <url-pattern>/AlterarFornecedor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarUsuario</display-name>
    <servlet-name>CadastrarUsuario</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.CadastrarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarUsuario</servlet-name>
    <url-pattern>/CadastrarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirUsuario</display-name>
    <servlet-name>ExcluirUsuario</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.ExcluirUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirUsuario</servlet-name>
    <url-pattern>/ExcluirUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarUsuario</display-name>
    <servlet-name>IniciarAlterarUsuario</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.IniciarAlterarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarUsuario</servlet-name>
    <url-pattern>/IniciarAlterarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarUsuario</display-name>
    <servlet-name>AlterarUsuario</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.AlterarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarUsuario</servlet-name>
    <url-pattern>/AlterarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarJogos</display-name>
    <servlet-name>CadastrarJogos</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.CadastrarJogos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarJogos</servlet-name>
    <url-pattern>/CadastrarJogos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirJogos</display-name>
    <servlet-name>ExcluirJogos</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.ExcluirJogos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirJogos</servlet-name>
    <url-pattern>/ExcluirJogos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarJogos</display-name>
    <servlet-name>IniciarAlterarJogos</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.IniciarAlterarJogos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarJogos</servlet-name>
    <url-pattern>/IniciarAlterarJogos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarJogos</display-name>
    <servlet-name>AlterarJogos</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.AlterarJogos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarJogos</servlet-name>
    <url-pattern>/AlterarJogos</url-pattern>
  </servlet-mapping>
</web-app>