<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <display-name>ControleGamex</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CadastrarCliente</display-name>
    <servlet-name>CadastrarCliente</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.CadastrarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarCliente</servlet-name>
    <url-pattern>/CadastrarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarCliente</display-name>
    <servlet-name>IniciarAlterarCliente</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.IniciarAlterarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarCliente</servlet-name>
    <url-pattern>/IniciarAlterarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarCliente</display-name>
    <servlet-name>AlterarCliente</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.AlterarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarCliente</servlet-name>
    <url-pattern>/AlterarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirCliente</display-name>
    <servlet-name>ExcluirCliente</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.ExcluirCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirCliente</servlet-name>
    <url-pattern>/ExcluirCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarFornecedor</display-name>
    <servlet-name>CadastrarFornecedor</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.CadastrarFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarFornecedor</servlet-name>
    <url-pattern>/CadastrarFornecedor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirFornecedor</display-name>
    <servlet-name>ExcluirFornecedor</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.ExcluirFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirFornecedor</servlet-name>
    <url-pattern>/ExcluirFornecedor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarFornecedor</display-name>
    <servlet-name>IniciarAlterarFornecedor</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.IniciarAlterarFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarFornecedor</servlet-name>
    <url-pattern>/IniciarAlterarFornecedor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarFornecedor</display-name>
    <servlet-name>AlterarFornecedor</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.AlterarFornecedor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarFornecedor</servlet-name>
    <url-pattern>/AlterarFornecedor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarCompra</display-name>
    <servlet-name>AlterarCompra</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.AlterarCompra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarCompra</servlet-name>
    <url-pattern>/AlterarCompra</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarCompra</display-name>
    <servlet-name>CadastrarCompra</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.CadastrarCompra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarCompra</servlet-name>
    <url-pattern>/CadastrarCompra</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirCompra</display-name>
    <servlet-name>ExcluirCompra</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.ExcluirCompra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirCompra</servlet-name>
    <url-pattern>/ExcluirCompra</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarCompra</display-name>
    <servlet-name>IniciarAlterarCompra</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.IniciarAlterarCompra</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarCompra</servlet-name>
    <url-pattern>/IniciarAlterarCompra</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarVenda</display-name>
    <servlet-name>AlterarVenda</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.AlterarVenda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarVenda</servlet-name>
    <url-pattern>/AlterarVenda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarVenda</display-name>
    <servlet-name>CadastrarVenda</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.CadastrarVenda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarVenda</servlet-name>
    <url-pattern>/CadastrarVenda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirVenda</display-name>
    <servlet-name>ExcluirVenda</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.ExcluirVenda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirVenda</servlet-name>
    <url-pattern>/ExcluirVenda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarVenda</display-name>
    <servlet-name>IniciarAlterarVenda</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.IniciarAlterarVenda</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarVenda</servlet-name>
    <url-pattern>/IniciarAlterarVenda</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarStatus</display-name>
    <servlet-name>CadastrarStatus</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.CadastrarStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarStatus</servlet-name>
    <url-pattern>/CadastrarStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarFeedback</display-name>
    <servlet-name>CadastrarFeedback</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.CadastrarFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarFeedback</servlet-name>
    <url-pattern>/CadastrarFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarFeedback</display-name>
    <servlet-name>AlterarFeedback</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.AlterarFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarFeedback</servlet-name>
    <url-pattern>/AlterarFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterarStatus</display-name>
    <servlet-name>AlterarStatus</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.AlterarStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterarStatus</servlet-name>
    <url-pattern>/AlterarStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirFeedback</display-name>
    <servlet-name>ExcluirFeedback</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.ExcluirFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirFeedback</servlet-name>
    <url-pattern>/ExcluirFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExcluirStatus</display-name>
    <servlet-name>ExcluirStatus</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.ExcluirStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcluirStatus</servlet-name>
    <url-pattern>/ExcluirStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarFeedback</display-name>
    <servlet-name>IniciarAlterarFeedback</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.IniciarAlterarFeedback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarFeedback</servlet-name>
    <url-pattern>/IniciarAlterarFeedback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IniciarAlterarStatus</display-name>
    <servlet-name>IniciarAlterarStatus</servlet-name>
    <servlet-class>br.com.gamex.controlegamex.view.IniciarAlterarStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IniciarAlterarStatus</servlet-name>
    <url-pattern>/IniciarAlterarStatus</url-pattern>
  </servlet-mapping>
</web-app>